html,
body {
  overflow-x: hidden;
}

html {
  margin: 0 auto;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #efefef;
  margin: 0 auto;
}

/* input[type='file'] {
  color: transparent;
} */
/* HEADER */
#_header {
  background-color: #6bc4e8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0 25px 0;
}

._header__logo {
  width: 260px;
}

._header__logo strong {
  display: block;
  font-size: 1.1em;
  font-weight: 700;
}

/* #uploadForm {
  margin-top: 1rem;
} */
.uploadForm__wrapper {
  display: flex;
  margin: 1rem;
  flex-direction: column;
  align-items: flex-start;
}

.uploadForm__submit {
  font-size: 15px;
  color: #ededed;
  margin-top: 0.6rem;
  padding: 12px 24px 12px 24px;
  background-color: #d77900;
  border-radius: 4px;
  text-decoration: none;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.galleryList {
  /* Masonry container */
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 0.5rem;
  -moz-column-gap: 0.5rem;
  column-gap: 0.2em;
  margin: 0.2em;
  padding: 0;
  font-size: 0.85em;
}

.item {
  display: inline-block;
  /* margin: 0 0 0.5em; */
  width: 100%;
  -webkit-transition: 1s ease all;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* border-radius: 50%; */
}

.item img {
  max-width: 100%;
  /* border-radius: 15%; */
}

.load_photos_spinner_container {
  display: flex;
  justify-content: center;
  color: darkgray;
}

.post_photos_spinner_container {
  display: flex;
  justify-content: center;
  color: darkgray;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 320px) {
  .galleryList {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
  .galleryList {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .galleryList {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media only screen and (min-width: 1201px) {
  .galleryList {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}
