/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Poppins', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@media screen and (min-width: 200px) and (max-width: 330px) {
  html {
    font-size: 50%;
  }
}
@media screen and (min-width: 331px) and (max-width: 380px) {
  html {
    font-size: 55%;
  }
}
@media screen and (min-width: 381px) and (max-width: 740px) {
  html {
    font-size: 65%;
  }
}
@media (min-width: 741px) {
  html {
    font-size: 80%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #efefef;
  font-size: 62.5%;
}

section {
  margin-top: 40px;
}

section:last-child {
  margin-bottom: 0;
}

p {
  font-size: 1.9rem;
  line-height: 1.6em;
  margin-top: 40px;
  text-align: center;
  word-break: keep-all;
}

video {
  width: 100%;
}

.title_space {
  margin-top: 20px !important;
}

.how_to_offering {
  /* text-align: start; */
  font-size: 1.6rem;
  /* padding-left: 10%; */
}
a:visited {
  text-decoration: none;
}

.bold {
  font-weight: 550;
}

.orange {
  color: #d77900;
}

.inner {
  max-width: 440px;
  /* max-width: 600px; */
  margin: 0 auto;
  padding: 0 30px;
}

/* HEADER */
/* #header {
  display: flex;
  justify-content: center;
  align-items: center;
} */
#headerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  padding: 2rem;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: #ebeae8;
}

/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

nav ul {
  margin: 0 2rem;
  display: flex;
  align-items: center;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  text-decoration: none;
  color: gray;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}

/* header {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #ebeae8;
} */

.header__logo {
  height: auto;
  /* width: 320px; */
  width: 100%;
  margin: 30px 0 0 0;
}

.comming_soon_text {
  color: #d77900;
  font-size: 4rem;
}

.mid__img {
  height: auto;
  width: 100%;
  margin: auto;
}

.btn__wrap {
  margin: 75px 0;
  text-align: center;
}

.btn__participate {
  font-size: 2.2rem;
  color: #ededed;
  padding: 16px 30px;
  background-color: #d77900;
  border-radius: 12px;
  text-decoration: none;
}

.btn__participate:visited {
  font-size: 3rem;
  color: #ededed;
  padding: 15px 50px;
  background-color: #0057b8;
  border-radius: 20px;
  text-decoration: none;
}

#bottom {
  text-align: center;
}

.bottom__img {
  height: auto;
  width: 100%;
  margin: auto;
  /* background-image: url("../assets/imgs/map.jpg"); */
  background-repeat: no-repeat;
  background-size: contain;
}

/* FOOTER */
#footer {
  text-align: center;
  margin-top: 20px;
}

.footer__logo {
  height: auto;
  width: 120px;
  margin-bottom: 40px;
}
