@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";

body {
  font-family: "Open Sans", sans-serif;
}

.wfm-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wfm-header__title {
  font-size: 25px;
}
.wfm-header__desc {
  margin-top: 24px;
  opacity: 0.6;
}

.wfm-current-walk-count {
  margin-top: 24px;
  font-size: large;
  text-align: center;
}

/* input form */
#walkcount-form {
  display: flex;
  flex-direction: column;
  margin: 24px 30px;
}

#walkcount-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 25px;
}

#walkcount-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#walkcount-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#walkcount-form input:focus {
  border-color: var(--yellow);
}

#walkcount-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
}

#walkcount-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}

.fit-picture {
  width: 250px;
}

#wfm-table {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#completed-msg {
  margin-top: 48px;
  font-size: large;
  text-align: center;
}

.hidden {
  display: none;
}
