/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Poppins', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #efefef;
}

section {
  margin-bottom: 40px;
}

section:last-child {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

.text {
  text-align: center;
}

.inner {
  max-width: 440px;
  margin: 0 auto;
  padding: 40px;
}

/* HEADER */
#header {
  background-color: #6bc4e8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0 25px 0;
}

.header__logo {
  width: 260px;
}

.header__logo strong {
  display: block;
  font-size: 1.1em;
  font-weight: 700;
}

/* CONTAINER */
#chart {
  position: relative;
}

.chart__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chart__text {
  font-size: 20px;
  margin: 4px 0;
}

.chart__value {
  font-size: 50px;
  font-weight: 600;
  margin: 0.2em 0;
}

.chart__desk {
  margin-top: 35px;
  align-items: center;
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#chart__deskImg {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  display: none;
}

.chart__process {
  margin: 0 auto;
  width: 340px;
  height: 340px;
}

.process__track {
  width: 100%;
  height: 100%;
  border: 3px solid #a9a9a9;
  border-radius: 50%;
}

#thumbnail__container {
  margin-bottom: 10px !important;
}

.aa {
  width: 100%;
  height: 85px;
}

#form {
  margin-top: 40px;
}

#wrap_desk {
  position: absolute;
  display: grid;
  align-items: center;
  left: 50%;
  right: auto;
  transform: translate(-50%);
}
.img_desk_anmation {
  display: none;
}

.section__title {
  font-size: 18px;
  margin-bottom: 1em;
}

.input__box {
  margin-bottom: 16px;
}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="text"] {
  border-bottom: 1px solid gray;
  width: 100%;
  font-size: 15px;
  height: 2em;
}

input[type="text"]::placeholder {
  color: #a9a9a9;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: #d77900;
  color: #fff;
  cursor: pointer;
  width: 100%;
  height: 3.25em;
  text-align: center;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
}

table {
  table-layout: fixed;
  word-break: keep-all;
  vertical-align: middle;
}

th,td {
  vertical-align: middle;
  line-height: 1.5em;
}


#board {
  display: none;
}

#board table {
  border-top: 2px solid gray;
}

#board table tr {
  font-size: 18px;
  height: 2.4em;
  line-height: 2.4em;
  text-align: center;
  border-bottom: 1px solid #dcdcdc;
}

#board table tr th {
  font-weight: 700;
}

#seeMore {
  background-color: #dedede;
  color: black;
  cursor: pointer;
  width: 100%;
  height: 3.25em;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

/* FOOTER */
#footer {
  height: 200px;
  font-size: 15px;
}

.footer__notice {
  line-height: normal;
}

.footer__info {
  height: 40px;
  margin: 16px 0 16px 0;
}

.footer__icon {
  width: 36px;
  vertical-align: middle;
}

.footer__link {
  vertical-align: middle;
}
.how_to_offering {
  line-height: normal;
}

/* 반응형 - width <= 440 */
@media screen and (max-width: 420px) {
  .inner {
    padding: 20px;
  }

  .chart__text {
    font-size: 16px;
  }

  .chart__value {
    font-size: 40px;
  }

  #chart__deskImg {
    width: 30px;
    height: 30px;
  }

  .chart__process {
    width: 70vw;
    height: 70vw;
  }

  .btn {
    font-size: calc(12px + 1vw);
  }

  .section__title {
    font-size: 15px;
  }

  label {
    font-size: 15px;
  }

  input[type="text"] {
    font-size: 14px;
  }

  #board table tr {
    font-size: 16px;
  }

  .seeMore {
    font-size: calc(12px + 1vw);
  }

  #footer {
    font-size: 13px;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-8-7 21:8:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-scale-up
 * ----------------------------------------
 */
@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
.img_desk_anmation.active {
  -webkit-animation: rotate-scale-up 1.5s ease-in-out both;
  animation: rotate-scale-up 1.5s ease-in-out both;
}
